### Q1
List the basic data types in python and give one example each.

In [ ]:
# 1. booleans
# 2. strings
# 3. integers
# 4. float

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [ ]:
x = 4539.85

# x to string
y = str(x)
# x to an integer
z = int(x)

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [ ]:
# a. float
# b. integer
# c. dictionary
# d. float
# e. int
# f. float
# g. boolean
# i. string
# j. float
# k. int

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [2]:
full_statement = 'Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team'
# split statement into two parts
both_statement = full_statement.split('.')
statement_1 = both_statement[0]
statement_2 = both_statement[1]
# calculate length of statements
lengthStatement_1 = len(statement_1)
lengthStatement_2 = len(statement_2)
# which statement is greater
lengthStatement_1 < lengthStatement_2

False

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
1 and 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [ ]:
# statement 1
if 78 > 46 and 78 < 30 and 30 % 2 != 0:
    print("Statement 1 is true")
else:
    print("Statement 1 is false")

# statement 2
if (8-2) % 2 == 0 or 8 % 2 != 0:
    print("Statement 2 is true")
else:
    print("Statement 2 is false")

# statement 3
if len('bootstrap') == 7 and len('sample') == 6:
    print("Statement 3 is true")
else:
    print("Statement 3 is false")

In [ ]:
# statement 1
statement = 78 > 46 and 78 < 30 and 30 % 2 == 1
# Evaluate the statement
if statement:
    print("The statement is True.")
else:
    print("The statement is False.")

# statement 2

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [8]:
word = 'Hello, How are you?'

how = word[7:10]
how_are_you = word[7:-1]
are = word[-8:-5]
question_mark = word[-1]
all_except_last = word[0:-1]

Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [12]:
sentence = "I am very excited"
# to upper case
upperCase = sentence.upper()
# to lower case
lowerCase = sentence.lower()
# to title case
titleCase = sentence.title()
# to list of strings
list_of_strings = sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [18]:
word = 'OneThirtyEight'

one = word[0:3]
thirty = word[3:9]
oneThirty = word[0:9]
thirtyEight = word[3:]
oneThirtyEight = word[:]

OneThirtyEight

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [ ]:
name = "Ault'Kelly"