### Q1

Name the four built-in data structures in python. Give one examples for each

In [40]:
# 1. strings
# 2. integer
# 3. float
# 4. boolean

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
# 1. list is mutable but tuples are not mutable
# 2. A list is defined using square bracket whereas tuple is defined by using parenthesis

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [ ]:
animal_list = ['cat', 'dog', 'rat', 'hen', 'cow']
print(len(animal_list))
print(animal_list[3:5])
animal_list = ['cat', 'dog', 'rat', 'hen', 'cow', 'mosquito', 'mouse', 'python']
animal_list = animal_list[2:]

animal_set = animal_list
print(len(animal_set))

5
['hen', 'cow']
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [ ]:
suitcase = ['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']
first = suitcase[0:2]
print(first)

middle = suitcase[2:4]
print(middle)

last = suitcase[4:6]
print(last)

['sunglasses', 'hat']
['passport', 'laptop']
['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [9]:
values = [20,25,30,40,45,50,55,60,65,70]
values.append(35)
values.sort()

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
# when you want your data to be immutable

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [ ]:
region_capital = {'GA':'Accra', 'GK':'kumasi', 'ER':'koforidua', 'CR':'cape coast', 'WR': 'Takoradi'}
for key in region_capital:
  print (x)

print('')

for y in region_capital:
  print(region_capital[y])

GA
GK
ER
CR
WR

Accra
kumasi
koforidua
cape coast
Takoradi

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [8]:
elements = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]
total_elements = len(elements)

frequency = {}
check_mode = []
for key in elements:
  if key in frequency:
    frequency[key] += 1;
  else:
    frequency[key] = 1;

max_freq = 0
mode = None;
for key in frequency:
  if frequency[key] > max_freq:
    max_freq = frequency[key]
    mode = key
print(mode)
#the mode is 3

values_set = set(elements)

num_of_elements = len(values_set)
print(num_of_elements)

3
6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [42]:
elements = {}
for key in range(1, 17):
  elements[key] = key ** 2
print(elements)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [46]:
dict_list = {}
dict_list['x'] = [num for num in range(11, 21)]
dict_list['y'] = [num for num in range(21, 31)]
dict_list['z'] = [num for num in range(31, 41)]

# newDict = {'x': list(range(11,21)), 'y': list(range(21,31)), 'z': list(range(31, 41))}

print(dict_list)

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}